/* Styles for mobile version */

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: 100vh;
}


/* Typography */

.header-context>h1 {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    color: #151515;
}

.header-context>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.btn-location {
    background: none;
    border: none;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    color: #FFFFFF;
    background-color: #151515;
}

.location {
    width: 204px;
    height: 72px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-right {
    width: 56px;
    height: 72px;
    background: #D5966C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-button {
    display: flex;
}

.gallery-day>h2 {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #151515;
    margin-bottom: 21px;
}

.gallery-day>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin-bottom: 32px;
}

.inspired {
    width: 343px;
    height: 293px;
    background-color: #151515;
}

.inspired>h2 {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.inspired>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.footer-container {
    width: 100%;
    height: 336px;
    background-color: #151515;
}

.footer-container>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}


/* Positioning */

.header-context {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 16px 0 16px;
}

.main-container {
    padding: 120px 16px 120px 16px;
}

.gallery-image1 {
    margin-bottom: 25px;
}

.gallery-image2,
.gallery-image3 {
    margin-bottom: 16px;
}

img {
    width: 100%;
}


/* Images */

.tablet-hero,
.tablet-gallery-img1,
.tablet-gallery-img2,
.tablet-gallery-img3 {
    display: none;
}

.tablet-map {
    display: none;
}

.inspired {
    box-sizing: border-box;
    text-align: start;
    padding: 48px 24px 48px 24px;
    width: 100%;
}

.footer-container {
    box-sizing: border-box;
    padding: 48px 32px 48px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


/* CSS for location.html */

.arrow-left {
    width: 56px;
    height: 72px;
    background: #D5966C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button {
    display: flex;
    position: absolute;
}

.our-location {
    width: 100%;
    height: 493px;
    background-color: #151515;
    box-sizing: border-box;
    padding: 48px 16px 56px 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.our-location>h1 {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.our-location>h2 {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #D5966C;
    margin-top: 28px;
}

.our-location>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.map-footer-container {
    width: 100%;
    height: 336px;
    background-color: #D5966C;
    box-sizing: border-box;
    padding: 48px 32px 48px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.map-footer-container>p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
}

.map-social-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


/* Responsive styles for tablet version index.html*/

@media screen and (min-width: 768px) {
    /* mobile images to tablet ones  */
    .mobile-hero,
    .mobile-gallery-img1,
    .mobile-gallery-img2,
    .mobile-gallery-img3 {
        display: none;
    }
    .tablet-hero {
        display: block;
        width: 437px;
    }
    .tablet-gallery-img1 {
        display: block;
        width: 398px;
    }
    .tablet-gallery-img2 {
        display: block;
        width: 398px;
    }
    .tablet-gallery-img3 {
        display: block;
        width: 280px;
    }
    /* Positioning main section*/
    .header-container {
        display: flex;
        margin-bottom: 120px;
    }
    .hero-image {
        position: relative;
    }
    .header-context {
        position: absolute;
        top: 145px;
        left: 390px;
        right: 40px;
        gap: 48px;
        padding: 0;
        width: 339px;
    }
    .main-container {
        width: 689px;
        padding: 0 40px 120px 40px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 11px;
        grid-template-rows: repeat(4, auto);
    }
    .gallery-image1,
    .gallery-image2 {
        width: 398px;
        margin: 0;
    }
    .gallery-image3 {
        width: 280px;
        margin: 0;
        grid-row: 2/3;
    }
    .inspired {
        width: 280px;
        height: 396px;
        grid-row: 3/4;
    }
    .gallery-day {
        width: 223px;
        height: 299px;
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .gallery-image1 {
        grid-column: 2/2;
        margin-left: -118px;
    }
    .gallery-image2 {
        grid-row: 2/4;
    }
    /* Foooter */
    .footer-container {
        padding: 56px 40px 56px 40px;
        flex-direction: row;
        align-items: center;
        height: 216px;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer-container>p {
        width: 281px;
    }
    /* Responsive styles for tablet version location.html*/
    .mobile-map {
        display: none;
    }
    .tablet-map {
        display: block;
    }
    .back-button {
        margin-left: 40px;
    }
    .our-location {
        padding: 88px 40px 80px 40px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        row-gap: 20px;
        column-gap: 68px;
    }
    .our-location>h1 {
        width: 223px;
    }
    .our-location>h2 {
        margin: 0;
        height: 32px;
    }
    .address {
        grid-column: 2/2;
        margin-top: -90px;
    }
    .newly-opened {
        width: 398px;
        grid-column: 2/2;
    }
    .map-footer-container {
        padding: 56px 40px 56px 40px;
        flex-direction: row;
        align-items: center;
        height: 216px;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer-container>p {
        width: 281px;
    }
}